.container

  %nav
    = render 'shared/navigation'

  -#HEADER SECTION
  %section.header
    .row
      .twelve.columns
        %h1
          = fa_icon "lastfm"

        %h1 Templates Selecting

  -#PRODUCT SECTION
