img
  height: auto !important

body
  background-color: #f5f5f5

.row
  margin-bottom: 20px

.product-header
  height: 5px
  background-color: gray
  border-top-left-radius: 3px
  border-top-right-radius: 3px

.product-wrapper
  background: white
