img
  height: auto !important

body
  background-color: #f5f5f5

.row
  margin-bottom: 25px

.product-wrapper
  background: white
  height: 250px
  position: relative

  &:hover
    .product-content .product-viewer
      opacity: 1

.product-image
  width: 97%
  margin: 0 auto

.product-header
  height: 7px
  background-color: gray
  border-top-left-radius: 3px
  border-top-right-radius: 3px

.product-viewer
  position: absolute
  top: 0
  width: 100%
  height: 100%
  background: white
  opacity: 0
  transition: opacity 0.9s ease

.product-info
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  padding: 20px
  margin: 0 auto
  width: 85%

.product-info
  text-align: center

.product-info-view-button
  border-radius: 30px
  border: 2px solid gray
  display: inline-block
  padding: 5px 15px
  margin-top: 15px
  transition: all .3s ease-in-out
  cursor: pointer

  &:hover
    background: gray
    color: white
