- products.each_slice(3) do |three_products|
  .row
    - three_products.each do |product|
      .four.columns
        .product-wrapper
          .product-header
          .product-content
            .product-image
              = retina_image_tag product, :image, :original, default: [100, 100], class: 'u-full-width'
            .product-viewer
              .product-info
                .product-info-name= product.name
                .product-info-view-button View Template
